header, .apresentacao{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header{
    height: 140px;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    position: absolute;
}

.apresentacao{
    background: url('../assets//bg_apresentacao.jpg') center/cover no-repeat;
    height: 85vh;
    position: relative;
}

/*COMPONENTES HEADER*/
header > img{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

header > nav{
    width: 60%;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
}


.nav-link{
    color: var(--color-white);
    font-weight: 400;
}
.nav-link:hover{
    color: var(--color-primary);
}

/*COMPONENTES APRESENTAÇÃO*/

h1{
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 30px;
}

.apresentacao > .container-md > .btn{
    border-radius: .99rem;
    padding: .600rem .99rem;
    width: 200px;
    font-weight: 500;
}

.apresentacao > .container-md{
    width: 60%;
    height: 40%;
    background-color: rgba(80, 80, 80, 0.6); 
    border-radius: 20px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao > .container-lg{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    top: 30%;
    z-index: 2;
}

.container-area-square{
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}


/*RESPONSIVIDADE*/
@media screen and (max-width: 823px) {
    header {
        height: auto;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        position: static;
        background-color: var(--color-neutral-400);
    }
    header > img{
        width: 80px;
        height: 80px;
    }

    header > nav{
        height: auto;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .apresentacao{
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .apresentacao > .container-md{
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 20px 10px;
    }

    .apresentacao > .container-md > .btn{
        width: auto;
    }

    .apresentacao > .container-lg{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas com largura igual */
        gap: 8px;
    }

    .container-area-square{
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }
}

