:root{
    --color-primary: #F7CF2F;
    --color-primary-light: #F7E72F;
    --color-primary-dark: #F79D2F;
    --color-secondary: #2F56F7;
    --color-neutral-100: #D9D9D9;
    --color-neutral-200: #929292;
    --color-neutral-300: #515050;
    --color-neutral-400: #333333;
    --color-neutral-500: #1A1A1A;
    --color-black: #303030;
    --color-white: #fff;


}

body {
    font-family: 'Roboto', Arial, sans-serif;    
}
