.nossotime{
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.avatar{
    width: 100%;
    height: auto;
    
}

.carrossel {
    position: relative;
    width: 100vw;
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a tela */
}

.carrousel-contanier{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out; /* Animação suave ao mover */
}

.carrousel-contanier + div{
    display: flex;
    flex-direction: row;
    width: 20%;
}

.card-individual{
    position: relative;
    z-index: 2;
    width: 16%;
    justify-content: center; 
    align-items: center;
    margin: 0px 10px;
}

.card-individual > div{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 10px;
}

.infors{
    padding: 8px 5px;
}


.infors > p {
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
}

.infors > p:first-child{
    color: var(--color-primary);
    font-weight: 600;
}

.nossotime button{
    background-color: var(--color-neutral-400);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0px;
}

.nossotime button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-primary);
}

.nossotime h6{
    background-color: var(--color-neutral-100);
    padding: 5px;
    border-radius: 5px;
    width: 125px;
    text-align: center;
}