.quemsomos{
    height: 170vh;
    background: rgba(0, 0, 0, 0.8) url('../assets/bg_quemsomos_vantagens.jpg') center/cover no-repeat;
    background-blend-mode: multiply;
}

.titlesomos{
    margin-left: 20%;
    padding-top: 10%;
}

/*QUEM SOMOS*/


@media screen and (max-width: 823px) {

}