.quemsomos{
    height: auto;
    padding-top: 6%;
    padding-bottom: 4%;
    background: 
        url('../assets/pattern.png') no-repeat center / 100%, 
        var(--color-neutral-500);
}


.contanier-content-general{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenier-content{
    flex-wrap: wrap;
    background-color: var(--color-neutral-dark);
    border-radius: 20px;
}

.img-one{
    width: 90%;
    height: 45%;
    background-size: cover;
    background-position: center;
    border-radius: var(--br-20);
}

.contenier-content > p{
    width: 90%;
    text-align: justify;
}


/*QUEM SOMOS*/
@media screen and (max-width: 823px) {

}