.vantagens{
    height: 100vh;
    background: 
        url('../assets/bg-logo.png') no-repeat center / 54%, /* Camada da imagem */
        var(--color-neutral-500); /* Camada da cor */
    padding-top: 120px;
}

.contanier-vantagens{
    gap: 5px;
    padding-top: 40px;
    flex-wrap: wrap;
}

.contanier-vantagem{
    height: 30%;
    width: 23%;
    padding: 2%;
    box-sizing: border-box;
}

@media(max-width: 1110px){
    
    .contanier-vantagem > h5{
        font-size: 1rem;
    }
    .contanier-vantagem  > p{
        font-size: 0.9rem;
    }
}